<!DOCTYPE html>
<html lang="en">
  <head>
    {{template "headers.html"}}
    <title>Admin</title>
    <script defer src="/static/scripts/adminDashboard.js"></script>
  </head>

  <body>
    <div class="container">
      <nav>
        <ol class="breadcrumb p-3 rounded-3">
          <li class="breadcrumb-item">
            <a class="link-body-emphasis" href="/">
              <i class="bi bi-house-door-fill"></i>
              <span class="visually-hidden">Home</span>
            </a>
          </li>
          <li class="breadcrumb-item">
            <a
              class="link-body-emphasis fw-semibold text-decoration-none"
              href="/adminDashboard"
            >
              {{ .Username }}'s dashboard (admin)
            </a>
          </li>
          {{ if eq .State "all" }}
          <li class="breadcrumb-item active">
            <a
              class="link-body-emphasis fw-semibold text-decoration-none"
              href="/adminDashboard"
              >all books</a
            >
          </li>
          {{end}} {{ if eq .State "issue-requests" }}
          <li class="breadcrumb-item active">
            <a
              class="link-body-emphasis fw-semibold text-decoration-none"
              href="/adminDashboard/issue-requests"
              >requested books</a
            >
          </li>
          {{end}} {{ if eq .State "return-requests" }}
          <li class="breadcrumb-item active">
            <a
              class="link-body-emphasis fw-semibold text-decoration-none"
              href="/adminDashboard/return-requests"
              >to-be-returned books</a
            >
          </li>
          {{ end }}

          <li class="ms-auto">
            <a href="/logout" class="btn btn-dark btn-sm">Logout</a>
          </li>
        </ol>
      </nav>
    </div>

    <div class="container">
      <form class="bg-body-tertiary pt-3 rounded-3">
        <div class="row">
          <div class="col-md-3 mt-1 fs-4 text-center">View type</div>
          <div class="col-md-8 text-center">
            <select
              class="form-select fs-5 text-center mb-3"
              id="viewMode"
              aria-label=".form-select-lg example"
            >
              <option value="select view mode" selected>
                -- select view mode --
              </option>
              <option value="all">All books</option>
              <option value="issue-requests">Issue requests</option>
              <option value="return-requests">Return requests</option>
            </select>
          </div>
        </div>
      </form>
    </div>

    {{ if eq .State "all" }}
    <div class="container mt-4 mb-5">
      <form
        method="post"
        action="/adminDashboard/addBook"
        class="bg-body-tertiary p-3 rounded-3"
      >
        <h2 class="text-center pb-3">Add new book</h2>
        <div class="row mb-3">
          <div class="col-md-6">
            <input
              type="text"
              class="form-control"
              id="bookName"
              name="bookName"
              placeholder="Name of the book"
              required
            />
          </div>
          <div class="col-md-6">
            <input
              type="text"
              class="form-control"
              id="bookQty"
              name="bookQty"
              placeholder="Quantity"
              required
            />
          </div>
        </div>
        <div class="row">
          <div class="col"></div>
          <div class="col d-grid">
            <button type="submit" class="btn btn-dark">Add</button>
          </div>
          <div class="col"></div>
        </div>
      </form>
    </div>
    {{ end }}

    <div class="container mt-4">
      <h2 class="text-center mt-4 mb-3 fw-bold text-uppercase">{{ .State }}</h2>
      {{ if eq .State "all" }}
      <table class="table text-center table-hover align-middle">
        <thead>
          <th>Book Name</th>
          <th>Total Quantity</th>
          <th>Available Quantity</th>
          <th>Actions</th>
        </thead>
        {{ range .Books }}
        <tr>
          <td>{{ .Name }}</td>
          <td>{{ .Qty }}</td>
          <td>{{ .AvailableQty }}</td>
          <td>
            <button
              class="btn btn-dark btn-sm"
              id="{{ .Id }}"
              onclick="addBook(this)"
            >
              <i class="bi bi-plus-lg"></i>
            </button>
            <button
              class="btn btn-dark btn-sm"
              id="{{ .Id }}"
              value="{{ .Qty }}"
              data-available="{{ .AvailableQty }}"
              onclick="removeBook(this)"
            >
              <i class="bi bi-dash-lg"></i>
            </button>
          </td>
        </tr>
        {{end}}
      </table>
      {{end}} {{ if eq .State "issue-requests" }}
      <table class="table text-center table-hover align-middle">
        <thead>
          <th>Request ID</th>
          <th>Username</th>
          <th>Book</th>
          <th>Accept/Reject</th>
        </thead>
        {{ range .Requests }}
        <tr>
          <td>{{ .Id }}</td>
          <td>{{ .Username }}</td>
          <td>{{ .BookName }}</td>
          <td>
            <a
              href="/adminDashboard/issue-requests/accept/{{ .Id }}"
              class="btn btn-dark btn-sm"
            >
              <i class="bi bi-check2"></i>
            </a>
            <a
              href="/adminDashboard/issue-requests/reject/{{ .Id }}"
              class="btn btn-dark btn-sm"
            >
              <i class="bi bi-x-lg"></i>
            </a>
          </td>
        </tr>
        {{end}}
      </table>
      {{end}} {{ if eq .State "return-requests" }}
      <table class="table text-center table-hover align-middle">
        <thead>
          <th>Request ID</th>
          <th>Username</th>
          <th>Book</th>
          <th>Accept/Reject</th>
        </thead>
        {{ range .Requests }}
        <tr>
          <td>{{ .Id }}</td>
          <td>{{ .Username }}</td>
          <td>{{ .BookName }}</td>
          <td>
            <a
              href="/adminDashboard/return-requests/accept/{{ .Id }}"
              class="btn btn-dark btn-sm"
            >
              <i class="bi bi-check2"></i>
            </a>
            <a
              href="/adminDashboard/return-requests/reject/{{ .Id }}"
              class="btn btn-dark btn-sm"
            >
              <i class="bi bi-x-lg"></i>
            </a>
          </td>
        </tr>
        {{end}}
      </table>
      {{end}}
    </div>
  </body>

  {{ if eq .Error "booksUpdated"}}
  <script src="/static/scripts/booksUpdatedAlert.js"></script>
  {{ else if eq .Error "invalidBookEntry"}}
  <script src="/static/scripts/invalidBookEntryAlert.js"></script>
  {{ end }}
</html>
