<!DOCTYPE html>
<html lang="en">
  <head>
    {{ template "headers.html" }}
    <title>register</title>
    <link rel="stylesheet" href="/static/styles/login.css" />
  </head>

  <body>
    <div class="full-page" id="register-page">
      <div class="mask-dark">
        <div class="vcenter w-100 h-100">
          <form method="post" id="register-form">
            <h1 class="text-center fw-bold mb-4">
              Register <i class="bi bi-journal-bookmark-fill"></i>
            </h1>
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                required
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                required
              />
            </div>
            <div class="mb-4">
              <label for="confirmPassword" class="form-label"
                >Confirm Password</label
              >
              <input
                type="password"
                class="form-control"
                id="confirmPassword"
                name="confirmPassword"
                required
              />
            </div>

            <div class="form-check mb-3">
              <input
                class="form-check-input"
                type="checkbox"
                id="requestForAdmin"
                name="requestForAdmin"
              />
              <label class="form-check-label" for="requestForAdmin">
                Request for admin access
              </label>
            </div>

            {{ if .ErrMsg }}
            <div
              class="alert alert-danger alert-dismissible fade show"
              role="alert"
            >
              {{ .ErrMsg }}
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button>
            </div>
            {{ end }}

            <div class="d-grid">
              <button type="submit" class="btn btn-dark py-2">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
