<!DOCTYPE html>
<html lang="en">
  <head>
    {{template "headers.html"}}
  </head>

  <body>
    <nav class="navbar navbar-expand-lg shadow-sm mb-4 bg-body-tertiary">
      <div class="container">
        <a
          class="fw-bold me-5 text-decoration-none text-dark text-capitalize"
          href="/userDashboard"
          >{{.Username}}'s dashboard</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarText"
          aria-controls="navbarText"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-underline">
            <li class="nav-item">
              {{ if eq .State "available" }}
              <a
                class="nav-link active"
                aria-current="page"
                href="/userDashboard"
                >All Books</a
              >
              {{ else }}
              <a class="nav-link" aria-current="page" href="/userDashboard"
                >All Books</a
              >
              {{ end }}
            </li>
            <li class="nav-item">
              {{ if eq .State "requested"}}
              <a class="nav-link active" href="/userDashboard/requested"
                >Requested Books</a
              >
              {{ else }}
              <a class="nav-link" href="/userDashboard/requested"
                >Requested Books</a
              >
              {{ end }}
            </li>
            <li class="nav-item">
              {{ if eq .State "issued" }}
              <a class="nav-link active" href="/userDashboard/issued"
                >Issued Books</a
              >
              {{ else }}
              <a class="nav-link" href="/userDashboard/issued">Issued Books</a>
              {{ end }}
            </li>
            <li class="nav-item">
              {{ if eq .State "to-be-returned" }}
              <a class="nav-link active" href="/userDashboard/toBeReturned"
                >To Be Returned Books</a
              >
              {{ else }}
              <a class="nav-link" href="/userDashboard/toBeReturned"
                >To Be Returned Books</a
              >
              {{ end }}
            </li>
          </ul>
          <div class="d-flex">
            <a href="/logout" class="btn btn-dark btn-sm">Logout</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="container mt-4">
      <h2 class="text-center mt-4 mb-3 fw-bold text-uppercase">
        {{ .State }} Books
      </h2>
      {{ if eq .State "available" }}
      <table class="table text-center table-hover align-middle">
        <thead>
          <th>Book Name</th>
          <th>Available Quantity</th>
          <th>Issue</th>
        </thead>
        {{ range .Books }}
        <tr>
          <td>{{ .Name }}</td>
          <td>{{ .AvailableQuantity }}</td>
          <td>
            <a
              href="/userDashboard/request/{{ .Id }}"
              class="btn btn-dark btn-sm"
              ><i class="bi bi-journal-plus"></i
            ></a>
          </td>
        </tr>
        {{ end }}
      </table>
      {{ end }} {{ if eq .State "requested" }}
      <table class="table text-center table-hover align-middle">
        <thead>
          <th>Book ID</th>
          <th>Book Name</th>
        </thead>
        {{ range .Books }}
        <tr>
          <td>{{ .Id }}</td>
          <td>{{ .Name }}</td>
        </tr>
        {{end}}
      </table>
      {{end}} {{ if eq .State "issued" }}
      <table class="table text-center table-hover align-middle">
        <thead>
          <th>Book ID</th>
          <th>Book Name</th>
          <th>Request Return</th>
        </thead>
        {{ range .Books }}
        <tr>
          <td>{{ .Id }}</td>
          <td>{{ .Name }}</td>
          <td>
            <a
              href="/userDashboard/requestReturn/{{ .Id }}"
              class="btn btn-dark btn-sm"
              ><i class="bi bi-journal-check"></i
            ></a>
          </td>
        </tr>
        {{end}}
      </table>
      {{end}} {{ if eq .State "to-be-returned" }}
      <table class="table text-center table-hover align-middle">
        <thead>
          <th>Book ID</th>
          <th>Book Name</th>
        </thead>
        {{ range.Books }}
        <tr>
          <td>{{ .Id }}</td>
          <td>{{ .Name }}</td>
        </tr>
        {{end}}
      </table>
      {{end}}
    </div>
  </body>
</html>
