@import 'home.scss';

.notFound{
    @include fixed-bg-cover("/static/assets/layeredBg.svg");
    @extend .full-page;
}

.errorCode {
    color: black;
    font-size: 7rem;
    font-weight: 800;
    text-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.errorDesc {
    color: black;
    text-transform: uppercase;
    letter-spacing: 1.2rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}